Lab 1/webapp/temp-app/node_modules
Lab 1/webapp/server/node_modules
.DS_Store
Lab 1/.DS_Store
Lab 2/secrets.py
Lab 2/__pycache__
Lab 3/node_modules
Lab 3/newoodle/package-lock.json
Lab 3/RBAC/package-lock.json